* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

a,
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.flex-container {
    display: flex;
    align-items: center;
}

img {
    max-height: 100%;
    max-width: 100%;
}

a.btn-primary {
    background-color: bisque;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    color: black;
    transition: background-color 1s ease-out;
}
a.btn-primary:hover{
    background-color: #0fbf45;
    color: white;
}


/* navigation style */
nav.head-nav {
    background-color: lightgreen;
}

.nav-items {
    height: 56px;
    justify-content: space-between;
}

.logo {
    padding: 10px;
}

.logo h1 {
    font-size: 28px;
    color: orangered;
    text-transform: uppercase;
}

.nav-menu ul {
    margin: 0;
    list-style: none;
}

ul.flex-container li {
    padding: 10px 15px;
    transition: transform 0.5s ease-out;
}

ul.flex-container li a {
    display: inline-block;
    text-decoration: none;
}

ul.flex-container li:hover {
    background-color: tomato;
    transform: rotate(20deg);
}

/* header banner */
.head-banner {
    background-image: url(images/aaa.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    background-size: cover;
}
.head-items {
    justify-content: space-between;
    text-align: right;
    height: 500px;
}
.head-info {
    background-image: linear-gradient(to right, #40706c, transparent);
    width: 450px;
    padding: 20px;
    text-align: left;
    color: #fff;
    animation: head-info 5s ease-out infinite alternate running;
}
.head-info p {
    color: darkkhaki;
}
.sliding {
    padding: 20px;
    background-image: linear-gradient(to left, #ffcaca, transparent);
    width: 450px;
    color: #fff;
    animation-name: slide;
    animation-duration: 5s;
}
/* template section one style */
section#tamplate1 {
    position: relative;
    height: 500px;
    background-color: #0fbf45;
}
.template-one-items {
    width: 450px;
    padding: 130px 10px;
    color: #fff;
}
.image-one {
    background-image: url(images/watch.webp);
    background-repeat: no-repeat;
    width: 341px;
    height: 70px;
    position: absolute;
    right: 0;
    animation: image-one 2s linear 1s infinite alternate running;
}
.image-two {
    background-image: url(images/headp.webp);
    width: 340px;
    height: 377px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 50%;
    animation: image-two 4s linear 0.5s infinite alternate running;
}
.image-three{
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
    width: 150px;
    background-image: url(images/mouse.webp);
    background-repeat: no-repeat;
    animation: image-three 4s ease infinite alternate running;
}

/* Services Style area */
section#service-area {
    padding: 100px 0;
}
.service-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center;
}
.service {
    padding: 10px;
}
.service img {
    width: 30%;
}
h1.section-title {
    text-align: center;
}
/* Featured images style */
.featured-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.image-box {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;;
    padding: 10px;
    
}
.image-box h1{
    font-size: 2em;
}
.image-box img {
    transition: transform 0.3s ease-in;
    width: 250px;
    height: 250px;
}
.image-box a {
    margin-left: 58px;
}
.image-box:hover img{
    transform: scale(0.6);
}
/* team area style */
section#team-area {
    padding: 100px 0;
}
.team-member {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.people {
    position: relative;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #242B2E;
}
.people-image img {
    width: 200px;
    border-radius: 100%;
    height: 200px;
}
.people-info span {
    font-size: 35px;
    padding-right: 10px;
}
.more-details {
    position: absolute;
    width: 250px;
    height: 302px;
    left: 7px;
    top: 10px;
    padding: 10px;
    background-color: rebeccapurple;
    opacity: 0;
    transition: all 0.5s ease-out;
}
.people:hover .more-details{
    opacity: 1;
    transform: scaleX(1);
}
/* subscriber area css */
section#subscribe-area {
    padding-bottom: 30px;
}
.subcribe-tab {
    border-radius: 20px;
    width: 800px;
    margin: 0 auto;
    height: 215px;
    background-position: center;
    padding: 20px;
    background-image: linear-gradient(to left, #538efb6b, #5c54fae0), url(images/watch.png);
    color: #fff;
}
.subsscriber{
    width: 550px;
}
/* template two css */
.template-two-items {
    display: grid;
    grid-template-columns: 450px 520px;
    align-items: center;
    height: 600px;
}
.template-two-info h1 {
    font-size: 50px;
    font-weight: bold;
}
.template-two img{
    height: 650px;
}
.template-two-info h2 {
    font-weight: bold;
    color: blue;
}
.template-two-info h2 {
    font-weight: bold;
    color: blue;
}
/* footer area style */
footer#main-footer {
    padding-top: 50px;
}
.footer-head{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.featured-post{
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.footer-item{
    padding: 10px;
}
.post-thumbnail {
    width: 150px;
}
.post-details {
    width: 185px;
}
.post-details h3 {
    font-weight: bold;
    font-size: 1.5em;
}
.footer-item span {
    font-size: 32px;
    padding-right: 10px;
}
.project-items {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
.projects {
    position: relative;
}
.projects img {
    height: 90%;
    width: 100%;
}
.p-link i.fa-link {
    font-size: 30px;
    margin-top: 32px;
}
.p-link {
    width: 158px;
    background-image: linear-gradient(rgba(0, 255, 213, 0.411), rgba(255, 192, 203, 0.486));
    text-align: center;
    height: 79px;
    position: absolute;
    display: none;
    z-index: 1;
    left: 3px;
    top: 8px;
}
.projects:hover .p-link{
    display: inline-block;
    
}
/* Animation Keyframes */
@keyframes head-info {
    /* header info animation */
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
@keyframes slide {
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(0deg);
    }
}
@keyframes image-one {
    /* watch running animation */
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(30px);
    }
}
@keyframes image-two {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(30px);
    }
}
@keyframes image-three {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(30px);
    }
}